@media only screen and (min-width: 684px) {
  .body,
  html {
    background: hsl(27, 66%, 92%);
    margin: 0;
  }

  .headbar {
    background: #ec745c;
    height: 80px;
    width: 60%;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    color: white;
    display: flex;
    padding-top: 0px;
    position: fixed;
  }

  .headbar > .headbar--title {
    margin: 0px 15px;
    font-family: sans-serif;
  }

  .headbar--title :nth-child(2) {
    margin-top: -10px;
  }
  .head {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
  }
  .logo {
    margin: 25px -320px;
    display: flex;
    position: absolute;
    right: 20px;
  }

  .bod {
    background: #fefcf6;
    height: 400px;
    width: 62%;
    margin-top: 150px;
    border-radius: 15px;
    color: #413123;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
  }
  .bod > h2 {
    margin-left: 15px;
  }

  .bod--main {
    display: flex;
    justify-content: center;
  }
  .week {
    display: flex;
    justify-content: center;
  }
  .days {
    padding: 100px 0px;
    font-size: 15px;
    margin: 20px 30px;
    margin-top: 80px;
  }

  .bar {
    background: rgba(236, 117, 93, 255);
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    bottom: 140px;
    margin-left: -20px;
    transition: height 300ms ease;
  }
  .hide {
    display: none;
  }
  .bar:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .bar:hover .hide {
    background: rgba(59, 35, 22, 255);
    display: block;
    color: white;
    height: 20px;
    padding: 10px;
    margin-top: -60px;
    border-radius: 5px;
  }

  .bar > h3 {
    margin-top: 40px;
    transition: all 300ms ease;
    position: fixed;
    color: rgba(155, 147, 140, 255);
    font-weight: 100;
  }

  hr {
    position: absolute;
    bottom: 90px;
    right: 0%;
    opacity: 10%;
    width: 99.7%;
  }
  .underHr {
    position: absolute;
    bottom: 70px;
    left: 30px;
    color: rgba(155, 147, 140, 255);
    display: flex;
  }
  .total {
    position: absolute;
    top: 0px;
    color: rgba(56, 38, 23, 255);
  }
  .perc {
    position: absolute;
    right: 20px;
    bottom: 25px;
    color: rgba(155, 147, 140, 255);
  }
  .perc > h3 {
    margin-left: 60px;
    margin-bottom: -20px;
    color: rgba(56, 38, 23, 255);
    font-weight: bold;
  }
  button {
    border: none;
    height: 25px;
    width: 100px;
    background: #fefcf6;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 683px) {
  .body,
  html {
    background: hsl(27, 66%, 92%);
  }

  .headbar {
    background: #ec745c;
    width: 98%;

    margin: 35px 30px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    display: flex;
    position: fixed;
  }

  .headbar--title {
    margin: -5px 15px;
    font-family: sans-serif;
  }
  .headbar--title :nth-child(2) {
    margin-top: -10px;
  }
  .head {
    margin-left: -35px;
    margin-top: 50px;
    position: fixed;
  }
  .logo {
    margin: 15px -200px;
    margin: 20px -330px;
    display: flex;
    position: absolute;
    right: 20px;
  }

  .bod {
    background: #fefcf6;
    height: 400px;
    width: 94%;
    margin-top: 150px;
    border-radius: 15px;
    padding: 10px;
    color: #413123;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
  }
  .bod > h2 {
    margin-left: 15px;
  }

  .bod--main {
    display: flex;
    justify-content: center;
  }

  .bar {
    background: rgba(236, 117, 93, 255);
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    position: fixed;
    margin-left: -15px;
    transition: height 300ms ease;
    position: absolute;
    bottom: 145px;
  }
  .week {
    display: flex;
    justify-content: center;
  }
  .days {
    padding: 100px 0px;
    font-size: 15px;
    margin: 20px 22px;
    margin-top: 80px;
  }
  .hide {
    display: none;
  }
  .bar:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  /* try to fix this shit */
  .bar:hover .hide {
    background: rgba(59, 35, 22, 255);
    display: block;
    color: white;
    height: 20px;
    padding: 10px;
    margin-top: -60px;
    border-radius: 5px;
    opacity: 100%;
  }
  .bar > h3 {
    margin-top: 40px;
    transition: all 300ms ease;
    overflow: hidden;
    position: fixed;
    color: rgba(155, 147, 140, 255);
    font-weight: 100;
  }

  hr {
    position: absolute;
    bottom: 90px;
    right: 0%;
    opacity: 50%;
    width: 99.7%;
  }
  .underHr {
    position: absolute;
    bottom: 70px;
    left: 20px;
    color: rgba(155, 147, 140, 255);
    display: flex;
    flex-direction: column;
  }
  .total {
    position: absolute;
    top: 0px;
    color: rgba(56, 38, 23, 255);
  }
  .perc {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: rgba(155, 147, 140, 255);
  }
  .perc > h3 {
    margin-left: 60px;
    margin-bottom: -20px;
    color: rgba(56, 38, 23, 255);
    font-weight: bold;
  }
  button {
    border: none;
    margin-top: 30px;
    height: 25px;
    width: 100px;
    background: #fefcf6;
    border-radius: 5px;
    cursor: pointer;
  }
}
